
.forosh_1{
  width: 100%;
  height: 419px;
  /* background-color: red; */
}
.foroshgah_1 {
  width: 1330px;
  height: 419px;
  /* background-color: #ffffff; */
  border: 1px solid lightgray;
  border-radius: 20px;
  margin: 10px 10px;
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
}
/* mobil */
.foroshgah_1 .mobil {
  width: 310px;
  height: 419px;
  /* background-color: yellow; */
  border-left: 1px solid #ebebed;
  padding: 8px;
  margin:0 5px;
}
.foroshgah_1 .mobil .matn {
  width: 100%;
  height: 65px;
  /* background-color: yellowgreen; */
  display: block;
  font-family: var(--font-family);
}
.foroshgah_1 .mobil .matn h4 {
  width: 100%;
  height: 24px;
  font-size: 16px;
  font-weight: 700;
  color: #23254e;
  line-height: 24px;
  margin: 5px 0;
}
.foroshgah_1 .mobil .matn h6 {
  width: 100%;
  height: 24px;
  font-size: 11px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(129, 133, 139);
}
.foroshgah_1 .mobil .mobi {
  width: 292px;
  height: 292px;
  display: grid !important;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 1px;
grid-row-gap: 1px;
}
.foroshgah_1 .mobil .mobi .alfa{
  width:145px;
  height: 145px;
  padding: 8px;
  display: block;
  background-color: rgb(255, 255, 255);
}
.foroshgah_1 .mobil .mobi .alfa_1{
    border-bottom: 1px solid #f0f0f1;
}
.foroshgah_1 .mobil .mobi .alfa_2{
 border-left: 1px solid #f0f0f1;
}
.foroshgah_1 .mobil .mobi .alfa img {
  width: 120px;
  height: 120px;
  display: block;
}
.foroshgah_1 .mobil .moshahedeh {
  width: 293px;
  height: 27px;
  /* background-color: rgb(188, 135, 135); */
  text-align: center;
}
.foroshgah_1 .mobil .moshahedeh a {
  width: 40px;
  height: 26px;
  font-size: 12px;
  font-weight: 200;
  color: #19bfd3;
  text-decoration: none;
  line-height: 27px;
}
.foroshgah_1 .mobil .moshahedeh a svg {
  font-size: 12px;
  font-weight: 700;
  vertical-align: middle;
  margin-top: 0;
}
/* end mobil */
/* start bag */
/*  */
.foroshgah_1 .bag {
 width: 310px;
  height: 419px;
  /* background-color: yellow; */
  border-left: 1px solid #ebebed;
  padding: 8px;
margin:0 5px;
}
.foroshgah_1 .bag .matn {
  width: 100%;
  height: 65px;
  /* background-color: yellowgreen; */
  display: block;
  font-family: var(--font-family);
}
.foroshgah_1 .bag .matn h4 {
  width: 100%;
  height: 24px;
  font-size: 16px;
  font-weight: 700;
  color: #23254e;
  line-height: 24px;
  margin: 5px 0;
}
.foroshgah_1 .bag .matn h6 {
  width: 100%;
  height: 24px;
  font-size: 11px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(129, 133, 139);
}
/* bagi */
.foroshgah_1 .bag .bagi {
  width: 292px;
  height: 292px;
  display: grid !important;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 1px;
grid-row-gap: 1px;
}
.foroshgah_1 .bag .bagi .alfa{
  width: 145px;
  height: 145px;
  padding: 8px;
  display: block;
  background-color: rgb(255, 255, 255);
}
.foroshgah_1 .bag .bagi .alfa_1{
    border-bottom: 1px solid #f0f0f1;
}
.foroshgah_1 .bag .bagi .alfa_2{
 border-left: 1px solid #f0f0f1;
}
.foroshgah_1 .bag .bagi .alfa img {
  width: 120px;
  height: 120px;
  display: block;
}
.foroshgah_1 .bag .moshahedeh {
  width: 293px;
  height: 27px;
  /* background-color: rgb(188, 135, 135); */
  text-align: center;
}
.foroshgah_1 .bag .moshahedeh a {
  width: 40px;
  height: 26px;
  font-size: 12px;
  font-weight: 200;
  color: #19bfd3;
  text-decoration: none;
  line-height: 27px;
}
.foroshgah_1 .bag .moshahedeh a svg {
  font-size: 12px;
  font-weight: 700;
  vertical-align: middle;
  margin-top: 0;
}
/* end bag */
/* start hedfon */
.foroshgah_1 .hedfon{
 width: 310px;
  height: 419px;
  /* background-color: yellow; */
  border-left: 1px solid #ebebed;
  padding: 8px;
 margin:0 5px;
}
.foroshgah_1 .hedfon .matn {
  width: 100%;
  height: 65px;
  /* background-color: yellowgreen; */
  display: block;
  font-family: var(--font-family);
}
.foroshgah_1 .hedfon .matn h4 {
  width: 100%;
  height: 24px;
  font-size: 16px;
  font-weight: 700;
  color: #23254e;
  line-height: 24px;
  margin: 5px 0;
}
.foroshgah_1 .hedfon .matn h6 {
  width: 100%;
  height: 24px;
  font-size: 11px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(129, 133, 139);
}
/* bagi */
.foroshgah_1 .hedfon .hedf {
  width: 292px;
  height: 292px;
  display: grid !important;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 1px;
grid-row-gap: 1px;
}
.foroshgah_1 .hedfon .hedf .alfa{
  width: 145px;
  height: 145px;
  padding: 8px;
  display: block;
  background-color: rgb(255, 255, 255);
}
.foroshgah_1 .hedfon .hedf .alfa_1{
    border-bottom: 1px solid #f0f0f1;
}
.foroshgah_1 .hedfon .hedf .alfa_2{
 border-left: 1px solid #f0f0f1;
}
.foroshgah_1 .hedfon .hedf .alfa img {
  width: 120px;
  height: 120px;
  display: block;
}
.foroshgah_1 .hedfon .moshahedeh {
  width: 293px;
  height: 27px;
  /* background-color: rgb(188, 135, 135); */
  text-align: center;
}
.foroshgah_1 .hedfon .moshahedeh a {
  width: 40px;
  height: 26px;
  font-size: 12px;
  font-weight: 200;
  color: #19bfd3;
  text-decoration: none;
  line-height: 27px;
}
.foroshgah_1 .hedfon .moshahedeh a svg {
  font-size: 12px;
  font-weight: 700;
  vertical-align: middle;
  margin-top: 0;
}
/* end hedfon */
/* start clock */
.foroshgah_1 .clock {
 width: 310px;
  height: 419px;
  padding: 8px;
 margin:0 5px;
}
.foroshgah_1 .clock .matn {
  width: 100%;
  height: 65px;
  /* background-color: yellowgreen; */
  display: block;
  font-family: var(--font-family);
}
.foroshgah_1 .clock .matn h4 {
  width: 100%;
  height: 24px;
  font-size: 16px;
  font-weight: 700;
  color: #23254e;
  line-height: 24px;
  margin: 5px 0;
}
.foroshgah_1 .clock .matn h6 {
  width: 100%;
  height: 24px;
  font-size: 11px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(129, 133, 139);
}

.foroshgah_1 .clock .cloc {
  width: 292px;
  height: 292px;
  display: grid !important;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 1px;
grid-row-gap: 1px;
}
.foroshgah_1 .clock .cloc .alfa{
  width: 145px;
  height: 145px;
  padding: 8px;
  display: block;
  background-color: rgb(255, 255, 255);
}
.foroshgah_1 .clock .cloc .alfa_1{
    border-bottom: 1px solid #f0f0f1;
}
.foroshgah_1 .clock .cloc .alfa_2{
 border-left: 1px solid #f0f0f1;
}
.foroshgah_1 .clock .cloc .alfa img {
  width: 120px;
  height: 120px;
  display: block;
}
.foroshgah_1 .clock .moshahedeh {
  width: 293px;
  height: 27px;
  /* background-color: rgb(188, 135, 135); */
  text-align: center;
}
.foroshgah_1 .clock .moshahedeh a {
  width: 40px;
  height: 26px;
  font-size: 12px;
  font-weight: 200;
  color: #19bfd3;
  text-decoration: none;
  line-height: 27px;
}
.foroshgah_1 .clock .moshahedeh a svg {
  font-size: 12px;
  font-weight: 700;
  vertical-align: middle;
  margin-top: 0;
}
