.haraj{
    width: 100%;
    height: 270px;
    /* background-color: blue; */
      display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    
}
.haraj picture{
    width: 100%;
    height: 246px;
    gap:10px;

}
.haraj  picture a img{
    width: 322px;
    height: 242px;
    border-radius: 20px;
    margin: 0 5px;
  
}